body{
  background-color: #FF8FB1;
}
hr{

  border-style: dotted none none none;
  border-width: 5px;
  border-color: white;
  height: 0;
  width: 15%;


}
img{
  height: 175px;
}
h1
{
  color: white;
}
h3
{
  color:white;
}
